*{margin:0; padding:0;}

/* Fonts */
/*     font-family: 'Inconsolata', monospace;

    font-family: 'Playfair Display', serif;

    font-family: 'Ubuntu', sans-serif; */
body {
	 font-family: 'Playfair Display', serif;
	 color: #626262;
	 font-size: 16px;
}
/* Start Header Section */
 header {
	padding: 25px 0;
 }
.wrapper {
	width: 90%;
	margin:  0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.logo {
	margin-top: 3px;
	width: 12%;
	float: left;
}
.logo img {
	width:  100%;
}
.menu {
	width: 70%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 50px;
	padding: 10px 0;
	transition: .3s;
	border: 1px solid transparent;

}
.menu ul li:last-child a {
	margin-right: 0;
}
.menu ul li a:hover{
	color: #;
	border-bottom: 1px solid #626262
}

.banner img {
	width: 100%;
}
.wrapper1 {
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}

.head {
	font-family: 'Ubuntu';
	font-weight: 300;
	text-transform: uppercase;
	color: #b4ad9e;
	padding: 20px 0;
}
.header {
	font-size: 30px;
	font-weight: 400;
	color: #626262;
	padding-bottom: 20px;
}
.article {
	color: #626262;
	text-align: justify;
	line-height: 150%;
}
/*
.row {
	
	overflow: hidden;
}
.row_left {
	width: 47%;
	float: left;
	padding: 50px 0;
}
.row_right {
	width: 47%;
	float: right;
	padding: 50px 0;
}
.row img {
	width: 100%;
	padding: 10px 0;
}
*/
.newsletter_bg {
	background: #f0f0f0;
	
}
.newsletter {
	  width: 39%;
	  margin: 0 auto;
	  padding: 75px 0;
		
}
.newsletter h3 {
	font-weight: 500;
	font-size: 32px;
	color: #626262;
	padding-bottom: 90px;
}

.email_link input[type="email"] {
	background: #F0F0F0;
	width: 50%;
	border: none;
	font-size: 16px;
}
.email_link a {
	float: right;
}
/*
.homepage {
	padding: 90px 0 150px;
}
.button {
	width: 165px;
	margin: 0 auto;
	border: 1px solid #626262;
	text-align: center;
	padding: 15px 0;
}

.button a {
	font-size: 20px;
	color: #626262;
	text-decoration: none;
}

*/
